body{

	 font-family: "Trebuchet MS",sans-serif;
	 padding:0;
	 margin:0;
}
p{
	padding:20px;
	font-size:18px;
	margin:0px;
	color:#ffffff;
	
	line-height:25px;

}
.address
{
	background-color:#f22e2e;
}

.begin
{
	background-color:#fd095f
}
.intro p{

	font-size:14px;
	
	
	line-height:16px;
	color:#999;
	font-weight:normal;
	font-style:italic;
}
.item1{
	background-color:#FFA200;
}
.item2{
	background-color:#dc1a1a;
	
	
}
.honey{
	background-color:#fd095f;
}
.item3{

	background-color:#f29b30;

	
}

.item4{

	background-color:#f2b33d;
}
.item5{
background-color:#2bbfbd;
	
}
.item6{
background-color:#24a3a1

}
.item7{
background-color:#1a7574
	
}
.item8{
background-color:#292929;
	
}
.item9{
	background-color:#121111;
	color:#ffffff;

	
}
.item10{

	color:#121111;
}


.item11{
	background-color:#f22e2e;
}
.item12{
	background-color:#dc1a1a;
	
}
.item13{
background-color:#FFA200;
}
.item14{
	background-color:#f2b33d;
}

.item15{
background-color:#2bbfbd;
	
}
.item16{
background-color:#24a3a1

}
.item17{
background-color:#1a7574
	
}

.item18{
background-color:#292929;
	
}
.item19{
background-color:#121111;
	
}
.item20{
font-size:9px;
text-align:center;
color:#121111;
padding-top:6px;
padding-bottom:6px;

	
}

.item20 a{
	
	color:#121111;

}

.item20 a:hover
{
	color:#fd095f;

}







